*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3rem;
}

.product-container {
    padding: 2rem;
    width: 1400px;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-container {
    padding: 2rem;
    width: 1400px;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-img-1 {
    width: 300px;
    margin: auto;
    display: inline;
    place-content: center;
    margin: 1rem;
    padding: 2rem;
}

.about-img-2 {
    width: 300px;
    margin: auto;
    display: inline;
    place-content: center;
    margin: 1rem;
    padding: 2rem;
}

.card{
    width: 300px;
    margin: auto;
    display: inline;
    place-content: center;
    margin: 1rem;
    padding: 2rem;
}


.card__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card__text {
    /* padding: 2rem; */
    font-size: 1.4rem;
    max-width: 100%;
}

.card__text--heading {
    font-size: 1.4rem;
    max-width: 100%;
    text-transform: uppercase;
}

.mb-sm {
    margin-bottom: .75rem;
}

.header-nav {
    height: 100px;
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    margin: 0 25px;
    list-style-type: none;
}

.nav-item__link {
    color: black;
    text-decoration: none;
}

.home-section {
    height: 600px;
    background-image: linear-gradient(90deg, black 12%, transparent 20%, transparent 80%, black 88%), url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.about-section {
    background-color: blue;
    margin: 0px;

}

.products-section {
    background-color: brown;
    margin: 0px;
}

.contact-section {
    background-color: blueviolet;
    margin: 0px;
}